*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MACROAREA */

#spoti-body{
    height: calc(100vh - 75px);
    display: flex;
    color: white;
}

#spoti-footer{
    height: 75px;
    width: 100%;
    background-color: rgba(40,40,40,255);
    position: fixed;
    bottom: 0;
    left: 0;
}

#spoti-sidebar{
    width: 50px;
    height: 100vh;
    background-color: rgba(0,0,0,255);
    position: fixed;
    top: 0;
    left: 0;
}

#spoti-main{
    width: calc(100vw - 50px);
    margin-left: 50px;
}

header{
    height: 75px;
    width: inherit;
    background-color:rgba(8,11,18,255);
    position: fixed;
    top: 0;
    right: 0;
}

main{
    width: 100%;
    margin-top: 75px;
    background-color: rgba(20,25,34,255);
}

/* COMMON */

.container{
    width: 100%;
}

.row{
    display: flex;
}

.col-12{
    width: 100%;
}

.col-6{
    width: calc(50% - 20px);
    margin: 10px;
}

.col-player,
.col-audio{
    width: 150px;
}

.col-range{
    width: calc(100% - 300px);
    margin: 0 auto;
}

.content{
    width: 100%;
}

img{
    width: 100%;
}

.wrap{
    flex-wrap: wrap;
}

span{
    display: none;
    color: rgba(118,121,125,255);
    margin: 5px 10px;
}

h5{
    color: rgba(118,121,125,255);
}

/* SIDEBAR */

.logo{
    padding: 10px;
}

.fixed{
    position: fixed;
    left: 0;
    bottom: 75px;
    width: inherit;
}

.fixed span{
    font-size: 12px;
    margin-bottom: 10px;
}

.phone{
    display: block;
}

.no-phone{
    display: none;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    padding: 5px 10px;
}

#spoti-sidebar h4{
    padding: 15px 0 0 10px;
}

.side-img{
    width: 30px;
    height: 30px;
}

.download-img{
    width: 17px;
    margin: 0 0 5px 8px;
}

.profile-img{
    width: 30px;
    height: 30px;
    background-color: rgba(118,121,125,255);
    border-radius: 50%;
    margin-top: 10px;
}

hr{
    width: 80%;
    margin: 0 auto;
}

.create{
    display: flex;
}

.create p{
    margin-top: 20px;
    color: rgba(118,121,125,255);
}

.fa-plus{
    font-size: 20px;
    background-color: rgba(118,121,125,255);
    padding: 8px;
    margin: 10px;
}

.play-ul li{
    padding: 5px 10px;
    color: rgba(118,121,125,255);
}


/* HEADER */

header .col-12{
    display: flex;
    justify-content: end;
}

header .content{
    width: fit-content;
    margin-top: 15px;
}

header p{
    font-size: 12px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 35px;
}



/* MAIN */
/* list section */
.list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list li{
    font-size: 12px;
    color: rgba(118,121,125,255);
}

/* recent section */


.recent .content{

}

/* for-us section */

.for-us .content{

}

/* popular section */

.popular .content{

}


/* FOOTER */

#spoti-footer .row{
    justify-content: space-between;
}

.player-img{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 20px;
}

#spoti-footer img{
    width: 40px;
    margin-top: 10px;
}

.footer-title{
    line-height: 1.1;
    color: white;
    font-size: 12px;
}

.footer-subtitle{
    color: rgba(118,121,125,255);
    font-size: 10px;
    margin-left: 10px;
}

.player-img .item{
    color: rgba(118,121,125,255);
    margin-left: 10px;
}

.item br{
    display: block;
}

.range{
  margin-top: 10px;  
}

.range .item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 150px;
    margin: 0 auto;
    color: white;
}

.range .item i{
    padding: 0 5px;
}

.range .item i:nth-child(3){
    font-size: 25px;
    padding: 0 5px;
}

.range-bar{
    display: flex;
    align-items: center;
    width: 150px;
    margin: 0 auto;
    padding-top: 10px;
}

.range-bar p{
    color: white;
    font-size: 10px;
}

.bar{
    height: 2px;
    width: 100%;
    margin: 0 5px;
    background-color: rgba(118,121,125,255);
    border-radius: 30px;
}

.white-bar{
    height: 2px;
    width: 20%;
    background-color: white;
}

.audio{
    display: flex;
    align-items: center;
    margin: 30px 5px 0 0;
}

.audio .item i{
    font-size: 12px;
    color: white;
    padding: 2px;
}

.audio .bar{
    width: 50%;
}

/**************************************************************** 
media query breakpoint 576px
**************************************************************+**/

@media screen and (min-width: 576px){
    /* sidebar section */

    #spoti-sidebar{
        width: 200px;
    }

    .margin-l{
        margin-left: 10px;
    }

    .logo{
        width: 80%;
    }

    .phone{
        display: none;
    }

    .no-phone{
        display: block;
    }

    #spoti-main{
        width: calc(100vw - 200px);
        margin-left: 200px;
    }
    /* footer section */

    .range-bar, .range .item{
        width: 200px;
    }


}


/******************************************************************
media query breakpoint 768px
*****************************************************************+*/

@media screen and (min-width: 768px){
    
    .recent .col-6,
    .for-us .col-6,
    .popular .col-6{
        width: calc(100% / 4 - 20px);
    }

    /* footer section */

    .col-player,
    .col-audio{
        width: 200px;
    }

    .player-img{
        padding-right: 0;
    }

    .item br{
        display: none;
    }

    .player-img .item i{
        padding: 0 5px;
    }

    .range-bar{
        width: 80%;
    }

    .audio .item i{
        padding: 4px;
    }
}


/*****************************************************************
media query breakpoint 992px
******************************************************************/

@media screen and (min-width: 992px){

    .recent .col-6,
    .for-us .col-6,
    .popular .col-6{
        width: calc(100% / 6 - 20px);
    }

    /* footer section */

    .range-bar{
        width: 60%;
    }
}